# --------- pytorch --------- #
torch>=2.0.0
torchvision
lightning
torchmetrics

# --------- hydra --------- #
hydra-core==1.3.2

# --------- others --------- #
rootutils
rich
pytest
omegaconf
torchsampler

# --------- deploy/serve --------- #
fastapi
uvicorn[standard]
python-multipart