# --------- pytorch --------- #
torch>=2.0.0
torchvision
lightning
torchmetrics

# --------- hydra --------- #
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
wandb
# neptune-client
# mlflow
# comet-ml
# aim>=3.16.2  # no lower than 3.16.2, see https://github.com/aimhubio/aim/issues/2550

# --------- others --------- #
rootutils
pre-commit      # hooks for applying linters on commit
rich
pytest
# sh            # for running bash commands in some tests (linux/macos only)

timm
omegaconf
fiftyone
packaging
setuptools
torchsampler
torch-summary
git+https://github.com/cs-mshah/split-folders
xformers        # works only in CUDA environment
matplotlib
fastapi
uvicorn[standard]